# Dependencies
node_modules
npm-debug.log

# Build output
dist

# Git
.git
.gitignore

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Test
coverage
*.spec.ts
test

# Logs
logs
*.log

# Environment (se pasan como variables)
.env
.env.local
.env.*.local

# Docker
Dockerfile
docker-compose*.yml
.dockerignore

# Documentation
README.md
docs

# Misc
*.md
.prettierrc
.eslintrc*
eslint.config.*
